*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
   font-family: "Plain Light";
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid #fff;
    /* background-color: #fff; */
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    /* now it is following arrow top left cornor  so using this will be at center*/
    transform: translate(-50%,-50%);
}

#loader{
    position: fixed;
    background-color: #0b0b0b;
    height: 100%;
    width: 100%;
    z-index: 999;
    padding: 25vh 11vw;
    
}

.line{
    height: fit-content;
    /* background-color: aqua; */
    overflow: hidden; /* this help for effect*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
font-family: "silk serif";
font-size: 3.3vw;
font-weight: 100    ;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right; /* num will not move */
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    text-transform: uppercase;
    /* font-family: "silk serif"; */
    font-size: 5vw;
    /* before font size way 6vw but the whole font way moving with animation so change it to 5vw now it will not move (last line in loader) */
    opacity: 0;
    /*  remove animetion name, if we remove opacity h2 will be there before other element*/
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-weight: 900;

}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        /* it will create a border around the txt */
        color: #fff;
        font-weight: 900;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        /* it will create a border around the txt */
        color: #fff;
        font-weight: 900;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 900;
        opacity: 1; 
        /* but still whole txt line is moving  */
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 900;
        /* but still whole txt line is moving  */
        opacity: 0;
    }
    /* now the loader is not going it is stuck and .line h2 start animating before other  */
}

main{
    position: relative;
    background-color: #111;
}

#page1{
    background-color: #151515;
    height: 100vh;
    width: 100%;
    /* scroll bar is coming because of vw in width */
}

#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 2.3vw 5.5vw;
}

nav #nav-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part h4{
    font-size: 0.8vw;
    font-weight: 500;
}

.page1-txt{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    /* reason for setting width and margin is we want this div at center of page */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
/* css has a bug that is nth child it considering nav as first child   */
.page1-txt:nth-child(2){
    margin-top: 15.5vh;
}

.page1-txt h2,h3{
     font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
}

.page1-txt h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
}

.page1-txt h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
}

/* .page1-txt h2{
    text-decoration: underline;
} */